<h1>Ready to make a new snugglouphagous?</h1>
<form action="/bunnies" method="post" id="newBunny">
  <input name="name" placeholder="name" type="text"/>
  <input name="url" placeholder="Image URL" type="text"/>
  <input name="cuteness" placeholder="Cuteness 1-10" type="text"/>

  <input type="submit" value="Make A Bunny"
</form>